<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=rproduct.name %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="/public/stylesheets/navbar.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/public/stylesheets/products_desc.css">
</head>

<body>
    <%- include('../partials/navbar') %>
        <br>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-2 offset-2">
                    <img src="<%=rproduct.image%>" alt="">
                </div>
                <div class="col-4 offset-3">
                    <h1>
                        <%= rproduct.name %>
                    </h1>
                    <p>
                        <%=rproduct.price %>
                    </p>
                    <p>
                        Sold by:<%=rproduct.author.username%>
                    </p>

                    <div>
                        <%if(currentUser && rproduct.author.equals(currentUser._id)){%>
                            <form action="/products/<%=rproduct._id%>/update" method="get" class="d-inline">
                                <button class="btn btn-outline-secondary">Update</button>
                            </form>
                            <form action="/products/<%=rproduct._id%>?_method=DELETE" method="post" class="d-inline">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <%}%>
                    </div>
                    <p>
                        <%=rproduct.description %>
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="offset-2 col-7">
                    <h2>Reviews</h2>
                    <%if(currentUser){%>
                        <form action="/products/<%=rproduct._id%>/newreview" method="post">
                            <fieldset class="starability-basic">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>

                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">
                                    <h4>Review description</h4>
                                </label>
                                <textarea class="form-control" name="review[reviewbody]"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                        <%}%>
                            <% if(rproduct.reviews.length){ %>
                                <% for(rev of rproduct.reviews) {%>
                                    <div class="card mt-3">
                                        <div class="card-body">
                                            <p class="starability-result" data-rating="<%= rev.rating %>"></p>
                                            <p>
                                                <b>
                                                    <%=rev.author.username%>
                                                </b>
                                            </p>
                                            <p class="card-text">
                                                <%=rev.reviewbody%>
                                            </p>
                                        </div>
                                        <div class="card-body">
                                            <%if(currentUser && rev.author.equals(currentUser._id)){%>
                                                <form
                                                    action="/products/<%=rproduct._id%>/reviews/<%= rev._id %>?_method=DELETE"
                                                    method="post" class="d-inline">
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                                <%}%>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>


                </div>

            </div>
        </div>

</body>

</html>