<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;600&display=swap"
        rel="stylesheet">
    <link href="/public/stylesheets/navbar.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/products_index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/flash')%>
    <nav class="navbar fixed-bottom navbar-light d-block d-sm-none nav2 d-flex justify-content-around">
        <div class="d-inline">
            <form action="/products/sort" method="get" class="d-inline">
                <label for="sortOptions" class="m-0">Sort By:</label>
                <br>
                <select class="form-select" aria-label="Default select example" id="sortOptions" name="sortOptions"
                    onchange="this.form.submit()">
                    <option value="default" <%if(sortOptions=='default' ){%>selected<% } %>>Default</option>
                    <option value="priceasc" <%if(sortOptions=='priceasc' ){%>selected<% } %>>Price: Low to
                        High</option>
                    <option value="pricedesc" <%if(sortOptions=='pricedesc' ){%>selected<% } %>>Price: High
                        to Low
                    </option>
                    <option value="ratingasc" <%if(sortOptions=='ratingasc' ){%>selected<% } %>>Rating: Low
                        to High
                    </option>
                    <option value="ratingdesc" <%if(sortOptions=='ratingdesc' ){%>selected<% } %>>Rating:
                        High to Low
                    </option>
                </select>
            </form>
        </div>
        <div class="d-inline">
            <form action="/products/filter" method="get" class="d-inline">
                <label for="filterOptions" class="m-0">Price:</label>
                <br>
                <select class="form-select" aria-label="Default select example" id="filterOptions" name="filterOptions"
                    onchange="this.form.submit()">
                    <option value="none" <%if(pricemin==0){%>selected<% } %>>All</option>
                    <option value="0to499" <%if(pricemax==500){%>selected<% } %>>0 - 499</option>
                    <option value="500to999" <%if(pricemax==1000){%>selected<% } %>>500 - 999</option>
                    <option value="1000to1999" <%if(pricemax==2000){%>selected<% } %>>1000 - 1999</option>
                    <option value="2000to2999" <%if(pricemax==3000){%>selected<% } %>>2000 - 2999</option>
                    <option value="3000to4999" <%if(pricemax==5000){%>selected<% } %>>3000 - 4999</option>
                    <option value="5000+" <%if(pricemin==5000){%>selected<% } %>>5000+</option>
                </select>

            </form>
        </div>
    </nav>
    <div class="contianer-fluid">
        <div class="row m-0">
            <div class="col-xl-2 col-md-3 col-sm-4 d-none d-sm-block" id="sidepane">
                <form action="/products/sort" method="get">
                    <br>
                    <label for="sortOptions">Sort By:</label>
                    <br>
                    <select class="form-select" aria-label="Default select example" id="sortOptions" name="sortOptions"
                        onchange="this.form.submit()">
                        <option value="default" <%if(sortOptions=='default' ){%>selected<% } %>>Default</option>
                        <option value="priceasc" <%if(sortOptions=='priceasc' ){%>selected<% } %>>Price: Low to
                            High</option>
                        <option value="pricedesc" <%if(sortOptions=='pricedesc' ){%>selected<% } %>>Price: High
                            to Low
                        </option>
                        <option value="ratingasc" <%if(sortOptions=='ratingasc' ){%>selected<% } %>>Rating: Low
                            to High
                        </option>
                        <option value="ratingdesc" <%if(sortOptions=='ratingdesc' ){%>selected<% } %>>Rating:
                            High to Low
                        </option>
                    </select>
                </form>
                <br>
                <form action="/products/filter" method="get">
                    <label for="filterOptions">Price:</label>
                    <br>
                    <select class="form-select" aria-label="Default select example" id="filterOptions"
                        name="filterOptions" onchange="this.form.submit()">
                        <option value="none" <%if(pricemin==0){%>selected<% } %>>All</option>
                        <option value="0to499" <%if(pricemax==500){%>selected<% } %>>0 - 499</option>
                        <option value="500to999" <%if(pricemax==1000){%>selected<% } %>>500 - 999</option>
                        <option value="1000to1999" <%if(pricemax==2000){%>selected<% } %>>1000 - 1999</option>
                        <option value="2000to2999" <%if(pricemax==3000){%>selected<% } %>>2000 - 2999</option>
                        <option value="3000to4999" <%if(pricemax==5000){%>selected<% } %>>3000 - 4999</option>
                        <option value="5000+" <%if(pricemin==5000){%>selected<% } %>>5000+</option>
                    </select>
                    <br>
                    <br>
                </form>
            </div>
            <div class="col-xl-10 col-md-9 col-sm-8 col-12">
                <div class="row pl-3 pt-3">
                    <% if(searchdata!='none') {%>
                    <h2>Search results for "<%=searchdata %>"</h2>
                    <% } %>
                </div>
                <div class="row mt-3">
                    <% for(let product of productlist) {%>
                    <%if(!val||!currentUser || !product.author.equals(currentUser._id)){%>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <div class="card">
                            <img src="<%=product.image  %> " class="card-img-top img-fluid" style="height:200px;"
                                alt="demo image">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=product.name %>
                                </h5>
                                <p class="card-text">
                                    <% if(product.reviews.length>1){ %>
                                    <%=product.avgrating %> <span class="star">&bigstar;</span>
                                    &ensp;<small>
                                        <%=product.reviews.length %>
                                        reviews
                                    </small>
                                    <% }else if(product.reviews.length){ %>
                                    <%=product.avgrating %> <span class="star">&bigstar;</span>
                                    &ensp;<small>
                                        <%=product.reviews.length %>
                                        review
                                    </small>
                                    <% }else{ %>
                                    Unrated &ensp;<small>No reviews yet</small>
                                    <% } %>
                                    <br>
                                    <b>
                                        Rs. <%=product.price %>
                                    </b>
                                </p>
                                <a href="/products/<%=product._id %> " class="btn stretched-link"></a>
                                <!-- <p class="card-text"><%=product.description %></p> -->
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
</body>

</html>