<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;600&display=swap"
        rel="stylesheet">
    <link href="/public/stylesheets/navbar.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/products_index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="contianer-fluid mt-3">
        <div class="row">
            <div class="col-2" id="sidepane">
                <form action="/products/sort" method="get">
                    <label for="sortOptions">Sort By:</label>
                    <br>
                    <select class="form-select" aria-label="Default select example" id="sortOptions" name="sortOptions">
                        <option value="default" <%if(sortOptions=='default'){%>selected<% } %>>Default</option>
                        <option value="priceasc" <%if(sortOptions=='priceasc'){%>selected<% } %>>Price: Low to
                            High</option>
                        <option value="pricedesc" <%if(sortOptions=='pricedesc'){%>selected<% } %>>Price: High to Low
                        </option>
                    </select>
                    <br>
                    <br>
                    <button class="btn btn-sm btn-outline-secondary" id="sortButton">Sort</button>
                </form>
                <br>
                <form action="/products/filter" method="get">
                    <label for="filterOptions">Price:</label>
                    <br>
                    <select class="form-select" aria-label="Default select example" id="filterOptions"
                        name="filterOptions">
                        <option value="0to499" <%if(pricemax==500){%>selected<% } %>>0 - 499</option>
                        <option value="500to999" <%if(pricemax==1000){%>selected<% } %>>500 - 999</option>
                        <option value="1000to1999" <%if(pricemax==2000){%>selected<% } %>>1000 - 1999</option>
                        <option value="2000to2999" <%if(pricemax==3000){%>selected<% } %>>2000 - 2999</option>
                        <option value="3000to4999" <%if(pricemax==5000){%>selected<% } %>>3000 - 4999</option>
                        <option value="5000+" <%if(pricemin==5000){%>selected<% } %>>5000+</option>
                    </select>
                    <br>
                    <br>
                    <button class="btn btn-sm btn-outline-secondary" id="sortButton">Filter</button>
                </form>
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row">
                        <% for(let product of productlist) {%>
                        <div class="col-md-3 col-sm-6 col-12 mb-3">
                            <div class="card">
                                <img src="<%=product.image  %> " class="card-img-top img-fluid" style="height:200px;"
                                    alt="demo image">
                                <div class="card-body">
                                    <h5 class="card-title"><%=product.name %> </h5>
                                    <p class="card-text"><%=product.price %></p>
                                    <a href="/products/<%=product._id %> " class="btn stretched-link"></a>
                                    <!-- <p class="card-text"><%=product.description %></p> -->
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>