<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="/public/stylesheets/navbar.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/flash')%>
    <div class="container-fluid">
        <h2 class="mt-4 mb-4">Orders for: <%= requiredproduct.name %></h2>
        <h5 class="mb-4">Quantity available: <%= requiredproduct.quantity %></h5>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addStockModal">
            Add Stock
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeStockModal">
            Remove Stock
        </button>
        <div class="modal fade" id="addStockModal" tabindex="-1" aria-labelledby="AddStock" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddStock">Add Stock</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/products/<%= requiredproduct._id %>/addstock" method="post">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <label for="quantity" class="col-form-label">Number of units to be added: </label>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <input type="number" id="quantity" name="quantity" class="form-control"
                                        aria-describedby="quantity">
                                </div>
                                <div class="col-auto">
                                    <span class="form-text">
                                        units
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer mt-3">
                                <button class="btn btn-secondary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="removeStockModal" tabindex="-1" aria-labelledby="RemoveStock" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="RemoveStock">Remove Stock</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/products/<%= requiredproduct._id %>/removestock" method="post">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <label for="quantity" class="col-form-label">Number of units to be removed: </label>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <input type="number" id="quantity" name="quantity" class="form-control"
                                        aria-describedby="quantity">
                                </div>
                                <div class="col-auto">
                                    <span class="form-text">
                                        units
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer mt-3">
                                <button class="btn btn-danger">Remove</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="mb-4 mt-3">Total orders: <%= requiredproduct.orders.length %></h5>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Order No</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <%for(let x of requiredproduct.orders){%>
                <tr>
                    <td><%= x.orderid %></td>
                    <td><%= requiredproduct.price %></td>
                    <td><%= x.quantity %></td>
                    <td><%= (requiredproduct.price)*(x.quantity) %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
</body>

</html>